{% extends "base.html" %}

{% block content %}
<div id="userForm">
    <h2>User Information</h2>
    <form method="post" action="{% url 'spotify_login' %}">
        {% csrf_token %}
        <label for="firstName">First Name:</label><br>
        <input type="text" id="firstName" name="firstName" required><br>

        <label for="lastName">Last Name:</label><br>
        <input type="text" id="lastName" name="lastName" required><br>

        <label for="contactNumber">Contact Number:</label><br>
        <input type="text" id="contactNumber" name="contactNumber" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <input type="submit" value="Submit">
    </form>
</div>
{% endblock content %}